@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.calculator{
    font-family: 'Roboto', sans-serif;
    margin: 30px auto;
    width: 320px;
    background: silver;
    overflow: hidden;
    padding: 5px 0 15px 0;
}

.numBoard{
    width: 180px;
    display: inline-block;
    float:left;
    border: 1px solid black;
    margin-left: 8px;
}

.opBoard{
    width: 120px;
    display: inline-block;
    float: right;
    border: 1px solid black;
    margin-right: 8px;
}

.displayContainer{
    margin: 5px auto;
    width: 296px;
    height: 100px;
    background: rgb(245, 146, 24);
    line-height: 50px;
    border: 4px solid black;
    text-align: right;
}

.prevDisplay{
    height: 50px;
    font-size: 1.2em;
    font-style: italic;
    white-space: nowrap;
    padding-right: 10px;
    overflow: hidden;
    .inPrevDisplay{
        float:right;
    }
}

.currDisplay{
    height: 50px;
    font-size: 2em;
    padding-right: 10px;
    overflow: hidden;
}

.button{
    height: 58px;
    width: 58px;
    background: gray;
    display: inline-block;
    border: 1px solid black;
    line-height: 58px;
    text-align: center;
    &:hover{
        cursor: pointer;
        color: white;
    }
}

.button__zero{
    width: 118px;
    border: 1px solid black;
}

.button__AC{
    width: 118px;
    background: rgba(33, 209, 162, 1)
}

.button__equals{
    height: 118px;
    float: right;
    line-height: 118px;
}

.button__numBoard{
    background: rgba(120, 114, 108, .9);
}

.button__opBoard{
    background: rgba(120, 114, 108, .6);
}